Ricardo Signes <rjbs@semiotic.systems> <rjbs@cpan.org>
Kris Matthews <kris@tigerlms.com> <krismatth@icloud.com>
fREW Schmidt <frioux@gmail.com> <frioux@gmail.com>
CosmicNet <webmaster@cosmicperl.com> <webmaster@cosmicperl.com>
